html{
   margin: 0px;
    padding: 0px;
    background-image:url("fwaves.jpg");
    background-attachment: fixed;
    background-size: 100%;
    }
body {

    }
h1 {
    font-family: bookman-old-style, serif;
    color: white;
    padding-top: 5%;
    font-size: 300%;
    text-align: center
}
div.about {
    font-family: georgia, serif;
    font-size: 200%;
    text-align: left;
    color: black;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
    margin-left: 13%;
    margin-top: 8%;
    margin-bottom: 2%;
    float: left;
    background: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
div.descript {
    font-family: georgia, serif;
    color: black;
    line-height: 150%;
    font-size: 60%
}
img {
    float: right;
    max-width: 37%;
    margin-right: 12%;
    margin-top: 8%;
    margin-bottom: 5%
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center
}
li
{
    display: inline;
}
li a
{
    color: white;
    background-color: #96A1AF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}